@import 'tailwindcss';

/* ROOT */
/* :root {
  --header-bg-color: #fff;
  --main-bg-color: #fafafa;
  --main-text-color: #111517;
} */

@font-face {
  font-family: 'Playfair Display Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Playfair Display Regular'),
    url('./assets/fonts/PlayfairDisplay-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Playfair Display Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Playfair Display Bold'),
    url('./assets/fonts/PlayfairDisplay-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Playfair Display Black';
  font-style: normal;
  font-weight: normal;
  src: local('Playfair Display Black'),
    url('./assets/fonts/PlayfairDisplay-Black.ttf') format('ttf');
}

@font-face {
    font-family: 'SF Pro Display Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Regular'),
      url('./assets/fonts/SFPRODISPLAYREGULAR.OTF') format('OTF');
  }
  
  @font-face {
    font-family: 'SF Pro Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Bold'),
      url('./assets/fonts/SFPRODISPLAYBOLD.OTF') format('OTF');
  }
  
  @font-face {
    font-family: 'Playfair Display Black';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Black'),
      url('./assets/fonts/SFPRODISPLAYMEDIUM.OTF') format('OTF');
  }

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'SF Pro Display' serif;
  font-weight: 400;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}


@media (min-width: 640px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

/* Laptop (≥ 1024px) */
@media (min-width: 1024px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}

/* Katta ekran (≥ 1280px) */
@media (min-width: 1280px) {
  .container {
    padding-right: 48px;
    padding-left: 48px;
  }
}

ol,
ul {
  /* margin-top: 0;
  margin-bottom: 0; */
  /* padding-left: 0; */
  list-style: none;
}

a {
  text-decoration: none;
  background-size: 'contain';
}
